@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&family=Permanent+Marker&display=swap');
:root {
  /*  --main-bg-color: linear-gradient(
    to right top,
    #1f1d1e,
    #222021,
    #252325,
    #272729,
    #2a2a2c,
    #292b31,
    #262c37,
    #212e3c,
    #162c45,
    #0c294e,
    #092656,
    #12205c
  );*/
  --main-bg-color: radial-gradient(125% 125% at 40% 10%, #000 40%, #12205c 100%) !important;

  --main-text-color: #fff;
  --main-black-color: #23262d;
  --secondary-black-color: rgba(0, 0, 0, 0.36);
  --main-blue-color: #12205c;
  --main-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
label,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Manrope', sans-serif;
}

body {
  background-image: var(--main-bg-color);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*pre {
  padding: 8px 16px;
  overflow: auto;
  border-radius: 4px;
  background: #343434;
}
code {
  padding: 4px;
  border-radius: 4px;
  background: #343434;
  font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
  direction: ltr;
  font-size: 14px;
}
pre > code {
  padding: 0;
  line-height: 1.5;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
}*/
