@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  --main-bg-color: linear-gradient(
    to right top,
    #1f1d1e,
    #222021,
    #252325,
    #272729,
    #2a2a2c,
    #292b31,
    #262c37,
    #212e3c,
    #162c45,
    #0c294e,
    #092656,
    #12205c
  );
  --main-text-color: #fff;
  --main-black-color: #23262d;
  --main-blue-color: #12205c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-image: var(--main-bg-color);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
