---
import Layout from '../layouts/Layout.astro';
import AboutContent from '../components/AboutContent.astro';
import ImageModal from '../components/ImageModal.astro';
import me from '../assets/headshot.jpg?url';
import meSnowboarding from '../assets/snowboard_bg.jpeg?url';
---

<Layout pageTitle="About">
    <div class="about-container">
        <div class="inner-container">
            <header>
                <h1>Welcome.</h1>
            </header>
            <div class="content">
                <AboutContent />
                <div class="img-container">
                    <ImageModal src={me} alt="a headshot of ian hart" />
                    <ImageModal src={meSnowboarding} alt="ian hart snowboarding" />
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .img-container {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .about-container {
        max-width: 1200px;
        min-height: 600px;
        margin: 0 auto;
        margin-top: 5rem;
        color: var(--main-text-color);
    }

    .inner-container {
        margin: 0 auto;
        padding: 1rem;
        padding-left: 5rem;
        min-height: 600px;
        border-width: 30px;
        border-style: solid;
        border-image: linear-gradient(to bottom, #12205c, rgba(31, 241, 191, 1)) 1 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 7rem;
        font-weight: 200;
    }

    @media (max-width: 600px) {
        .inner-container {
            padding: 0.5rem;
        }

        header h1 {
            font-size: 2rem;
            text-align: center;
        }
    }
</style>
