---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Blog';
---

<Layout pageTitle={pageTitle}>
    <h2>Blog coming soon</h2>
</Layout>

<style>
    h2 {
        font-size: 4rem;
        text-align: center;
        color: var(--main-text-color);
    }
</style>
