---
const name = 'Ian Hart';
const year = new Date().getFullYear();
---

<footer class="footer">
    <p>{name} &copy; {year}</p>
</footer>

<style>
    .footer {
        padding: 0.5rem;
        text-align: center;
        flex-shrink: 0;
    }

    .footer p {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--main-text-color);
    }
</style>
