---
const quote =
    'The best thing about a boolean is even if you are wrong, you are only off by a bit.';
const cite =
    'https://softwarequotes.com/quote/the-best-thing-about-a-boolean-is-even-if-you-are-';
---

<div class="quote">
    <q cite={cite}><em>{quote}</em></q>
    <p>-(Anonymous)</p>
</div>

<style>
    .quote {
        margin: 2rem 0;
        color: var(--main-text-color);
        text-align: center;
        font-weight: bold;
    }
</style>
