---
export interface ILink {
    href: string;
    text: string;
    icon: string;
}

export interface Props {
    link: ILink;
}

const { link } = Astro.props as Props;
---

<li class="link">
    <a href={link.href}>
        <div class="link-container">
            <div class="link-text-container">
                <i class={`icon ${link.icon}`}></i>
                <p>{link.text}</p>
            </div>

            <div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
        <div class="underline"></div>
    </a>
</li>

<style>
    .underline {
        height: 3px;
        width: 0;
        background: linear-gradient(to bottom, #12205c, rgba(31, 241, 191, 1));
        transition: all 0.5 ease-in;
    }

    a:hover .underline {
        animation: growFull 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes growMin {
        0% {
            width: 0;
        }
        100% {
            width: 100px;
        }
    }

    @keyframes growFull {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    i {
        display: none;
    }

    li {
        margin: 0.5rem;
    }

    li a {
        text-decoration: none;
        color: var(--main-text-color);
        font-weight: bold;
        transition: all 0.25 ease-in;
    }

    li a:hover {
        opacity: 0.8;
    }

    @media (max-width: 600px) {
        a:hover .underline {
            animation: growMin 0.5s;
            animation-fill-mode: forwards;
        }

        .link {
            margin: 1rem 0;
            padding: 0.5rem;
            border-radius: 8px;
        }

        .link:hover {
            background: var(--secondary-black-color);
        }

        i {
            display: block;
        }

        .icon {
            margin-right: 0.5rem;
        }

        .link-text-container {
            display: flex;
            align-items: center;
        }

        .link-container {
            display: flex;
            justify-content: space-between;
        }

    }
</style>
